/* Eric Meyer Reset */
@import url('reset.css');

/* Variables */
:root {
    --primary-color:       #fa573a;
    --menu-grey:           #666666;

    --background-color:     #21242e;

    --margin-right-header:    10px;
}

/* 

Google Fonts
font-family: 'Montserrat', sans-serif;
font-family: 'Handlee', cursive;

*/
@import url('https://fonts.googleapis.com/css?family=Handlee|Montserrat:400,700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}

/* Containers */
.container-fluid {
    width: 100%;
}

.row {
    margin: 0 auto;
    max-width: 1100px;
}

.row::after {
    display: block;
    content: "";
    height: 0;
    clear: both;
}

/* ! Header ! */
header .submenu {
    background-color: var(--background-color);
    color: white;
    padding: 20px 0;
}

header i {
    color: var(--primary-color);
    margin-right: 10px;
}

header .submenu .row div {
    float: left;
    width: 25%;
}

header .submenu .row div:nth-child(1), header .submenu .row div:nth-child(2) {
    text-align: left;
}

header .submenu .row div:nth-child(3), header .submenu .row div:nth-child(4) {
    text-align: right;
}

header .submenu a {
    color: white;
    margin-right: var(--margin-right-header);
}

header .submenu a:hover {
    color: var(--primary-color);
}

header nav {
    background-color: white;
    padding: 20px 0;
}

header nav .logo {
    float: left;
    width: 100px;
    height: auto;
}

header nav .menu {
    float: right;
}

header nav .menu li {
    padding-top: 5px;
    display: inline-block;
    margin-left: 15px;
}

header nav .menu li:last-child {
    margin-right: var(--margin-right-header);
}

header nav li a {
    font-weight: 700;
    color: var(--menu-grey);
}

header nav li a:hover {
    color: var(--primary-color);
}

header nav li .active {
    color: var(--primary-color);
}

header .hamburguesa {
    display: none;
}

.hero {
    height: 70vh;
    background-image: url("../img/fondo.jpg");
    background-size: cover;
    background-position: center center;
    background-blend-mode: soft-light;
    background-color: var(--background-color);
}

.hero > div {
    padding: 10% 10%;
}

.hero h1, .hero h2, .hero p, .hero a {
    color: white;
}

.hero > div h1 {
    font-size:  2em;
    font-family: 'Handlee', cursive;
}

.hero > div h2 {
    margin: .8em 0;
    font-size: 1.25em;
    color: var(--primary-color);
}

.hero .btn {
    display: inline-block;
    padding: .9em;
    background-color: var(--primary-color);
    margin: .8em 0;
    border: 2px solid var(--primary-color);
    text-shadow: 1px 1px 1px black;
}

.hero .btn:hover {
    background-color: transparent;
    border: 2px solid var(--primary-color);
}

.hero .social {
    display: flex;
}
.hero .social li {
    font-size: 1.5em;
    margin-right: .7em;
}

/* 48em = 768px */
@media(max-width: 48em) {
    
    header .submenu .row div {
        text-align: center;
        font-size: 80%;
    }

    header .submenu .row div:nth-child(1), header .submenu .row div:nth-child(2) {
        text-align: center;
    }
    
    header .submenu .row div:nth-child(3), header .submenu .row div:nth-child(4) {
        text-align: center;
    }

}

/* 37.5em = 600px */
@media(max-width: 37.5em) {
    header .submenu .row div a span {
        display: none;
    }

    header i {
        font-size: 200%;
        margin-right: 0;
    }

    header .hamburguesa {
        cursor: pointer;
        display: block;
        float: right;
        margin-right: var(--margin-right-header);
    }

    header .hamburguesa .line {
        border-top: 2px solid var(--menu-grey);
        width: 30px;
        margin-bottom: 10px;
    }

    header nav .menu {
        float: none;
        padding-top: 60px;
    }

    header nav .menu:before {
        content: "";
        height: 0;
        clear: both;
    }

    header nav .menu li {
        display: block;
        text-align: center;
        padding: 20px;
    }

    header nav .menu li:not(:last-child) {
        border-bottom: 1px solid var(--menu-grey);
    }

    .hero {
        height: 60vh;
    }
}
/* ยก End Header !*/