/* Eric Meyer Reset */

@import url('reset.css');

/* My awesome components */

@import url('components/buttons.css');

/* Variables */

:root {
    --secondary-typo: 'Handlee', cursive;
    --primary-color: #fa573a;
    --menu-grey: #666666;
    --light-grey: #cccccc;
    --background-color: #21242e;
    --margin-right-header: 10px;
}


/* 

Google Fonts
font-family: 'Montserrat', sans-serif;
font-family: 'Handlee', cursive;

*/

@import url('https://fonts.googleapis.com/css?family=Handlee|Montserrat:400,700&display=swap');
* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}


/* Containers */

.container-fluid {
    width: 100%;
}

.row {
    margin: 0 auto;
    max-width: 1100px;
}

.row::after {
    display: block;
    content: "";
    height: 0;
    clear: both;
}


/* ! Header ! */

header .submenu {
    background-color: var(--background-color);
    color: white;
    padding: 20px 0;
}

header i {
    color: var(--primary-color);
    margin-right: 10px;
}

header .submenu .row div {
    float: left;
    width: 25%;
}

header .submenu .row div:nth-child(1),
header .submenu .row div:nth-child(2) {
    text-align: left;
}

header .submenu .row div:nth-child(3),
header .submenu .row div:nth-child(4) {
    text-align: right;
}

header .submenu a {
    color: white;
    margin-right: var(--margin-right-header);
}

header .submenu a:hover {
    color: var(--primary-color);
}

header nav {
    background-color: white;
    padding: 20px 0;
}

header nav .logo {
    float: left;
    width: 100px;
    height: auto;
}

header nav .menu {
    float: right;
}

header nav .menu li {
    padding-top: 5px;
    display: inline-block;
    margin-left: 15px;
}

header nav .menu li:last-child {
    margin-right: var(--margin-right-header);
}

header nav li a {
    font-weight: 700;
    color: var(--menu-grey);
}

header nav li a:hover {
    color: var(--primary-color);
}

header nav li .active {
    color: var(--primary-color);
}

header .hamburguesa {
    display: none;
}

.hero {
    height: 70vh;
    background-image: url("../img/fondo.jpg");
    background-size: cover;
    background-position: center center;
    background-blend-mode: soft-light;
    background-color: var(--background-color);
}

.hero>div {
    padding: 10% 0;
}

.hero h1,
.hero h2,
.hero p,
.hero a {
    color: white;
}

.hero>div h1 {
    font-size: 2em;
    font-family: var(--secondary-typo);
}

.hero>div h2 {
    margin: .8em 0;
    font-size: 1.25em;
    color: var(--primary-color);
}

.hero .social {
    display: flex;
}

.hero .social li {
    font-size: 1.5em;
    margin-right: .7em;
}

/*  ¡ Start Main ! */

section {
    padding: 50px 0;
}

main section h2 {
    color: black;
    font-family: var(--secondary-typo);
    font-size: 2em;
    text-align: center;
    font-weight: 700;
}

main section h2 span {
    color: var(--primary-color);
}

main section .underline {
    margin: 0 auto;
    height: 10px;
    width: 100px;
    position: relative;
}

main section .underline hr {
    position: absolite;
    top: 50%;
    left: 0%;
    transform: translateY(150%);
    border: 1px solid var(--primary-color);
}

main section .underline span {
    text-transform: uppercase;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    color: var(--primary-color);
    font-weight: 700;
}

main section .flex {
    display: flex;
    flex-wrap: wrap;
}

main section .flex article {
    border-left: 1px solid var(--light-grey);
    padding: 0 25px;
    margin: 25px 0;
    width: 33%;
}

main #ourservices article h3 {
    font-weight: 700;
    margin: 15px 0;
    font-size: 120%;
}

main #ourservices article p {
    color: var(--menu-grey);
}

main #aboutus .flex .col {
    padding: 0 25px;
    margin: 25px 0;
    width: 50%;
}

main #aboutus .img .caption {
    display: block;
    border: 3px solid var(--primary-color);
    transform: rotate(10deg);
    transition: 1s;
}

main #aboutus .img .caption:hover {
    transform: rotate(0deg);
}

main #aboutus .img img {
    transform: rotate(-10deg);
    display: block;
    transition: 1s; 
}

main #aboutus .img img:hover {
    box-shadow: 3px 3px 10px black;
    transform: rotate(0deg);
    transform: scale(1.05, 1.05);
}

main #aboutus h3 {
    margin-top: 10px;
    font-size: 1.2em;
    font-weight: 700;
}

main #aboutus h4 {
    color: var(--primary-color);
    font-size: 1.2em;
    font-weight: 700;
}

main #aboutus p {
    color: var(--menu-grey);
    margin-top: 10px;
}

/*  ¡ End Main ! */

/* 1100px = 68.75em */
@media(max-width: 68.75em) {
    .hero>div {
        padding: 10% 20px;
    }
}

/* 48em = 768px */
@media(max-width: 48em) {
    
    header .submenu .row div {
        text-align: center;
        font-size: 80%;
    }

    header .submenu .row div:nth-child(1),
    header .submenu .row div:nth-child(2) {
        text-align: center;
    }

    header .submenu .row div:nth-child(3),
    header .submenu .row div:nth-child(4) {
        text-align: center;
    }

    main section .flex article {
        width: 50%;
    }

    main section .flex article:last-child {
        width: 100%;
    }

    main section .flex article:first-child, main section .flex article:last-child {
        border-left: 0px;
    }
}


/* 37.5em = 600px */
@media(max-width: 37.5em) {
    
    header .submenu .row div a span {
        display: none;
    }

    header i {
        font-size: 200%;
        margin-right: 0;
    }

    header .hamburguesa {
        cursor: pointer;
        display: block;
        float: right;
        margin-right: var(--margin-right-header);
    }

    header .hamburguesa .line {
        border-top: 2px solid var(--menu-grey);
        width: 30px;
        margin-bottom: 10px;
    }

    header nav .menu {
        float: none;
        padding-top: 60px;
    }

    header nav .menu:before {
        content: "";
        height: 0;
        clear: both;
    }

    header nav .menu li {
        display: block;
        text-align: center;
        padding: 20px;
        margin-left: 0px;
    }

    header nav .menu li:not(:last-child) {
        border-bottom: 1px solid var(--menu-grey);
    }

    .hero {
        height: 60vh;
    }

    main section .flex article {
        width: 100%;
        border-left: 0px solid transparent;
        border-bottom: 1px solid var(--light-grey);
        padding-bottom: 20px;
    }

    main #aboutus .flex .col {
        width: 100%;
    }

}

/* ¡ End Header ! */